.main{
  color: rgb(251, 4, 169);
  font-family: 'Quicksand', sans-serif;
}

.titleInGame {
  font-family: "Stalinist One", cursive;
  font-size: medium;
  padding-top: 10px;
}
.scoreCount {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}
