img {
    height: 15vw;
    width: 15vw;
    margin-left: 1vw;
}
.pseudoName {
    font-weight: bold;
    font-size: 4vw;
    margin-left : 2vw;
    text-transform: uppercase;
}
.teamName {
    font-size: 4vw;
    margin-left: 1vw;
    white-space: nowrap;
    font-style: italic;
}
.userBlock {
    margin-left: 3vw;
    margin-top : 2vw;
}