img {
    height: 5vw;
    width: 5vw;
    margin-left: 1vw;
}
.pseudo {
    font-weight: bold;
    font-size: 1.6vw;
}
.teamname {
    font-size: 1.2vw;
    margin-left: 1vw;
}
.userblock {
    margin-left: 2vw;
}