.backgrd {
  background: center / cover url('../gamepage/images/virus-2-bckgrd.jpg');
  height: 100%;
}

.title {
  margin-top: 10vw !important;
  font-family: 'Stalinist One', cursive !important;
  color: aliceblue !important;
}
.startButton {
  width: 45%;
  height: 100%;
  margin: 0 !important;
  cursor: pointer;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.virusButtonNotActive {
  animation: spin 5s infinite linear;
  transition: width 1s;
}
.virusButtonActive {
  animation: spin 5s infinite linear;
  width: 25%;
  transition: width 1s;
}
