.backgrd {
  background: center / cover url('../gamepage/images/virus-2-bckgrd.jpg');
  height: 100%;
}

h1 {
  font-family: 'Stalinist One', cursive !important;
  color: rgb(220, 53, 69) !important;
}
.startButton {
  height: auto;
  cursor: pointer;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.virusButtonNotActive {
  animation: spin 7s infinite linear;
  transition: width 1s;
  width: 90%;
}
.virusButtonActive {
  animation: spin 7s infinite linear;
  width: 70%;
  transition: width 1s;
}


